@charset "utf-8";

#car1{
	position:absolute;
	width:10%;
	height:10%;
	left:10px;
}
#car2{
	position:absolute;
	width:10%;
	height:10%;
	top:130px;
	left:10px;
}
#road{
	position:absolute;
	width:85%;
	height:25%;
}
#stoplight{
	position:absolute;
	top:250px;
	background-color:red;
	left:45%;
	width:200px;
	height:50px;
	font-size:20px;
}
#winText{
	position:absolute;
	top: 50%;
	left:45%;
	width:200px;
	height:50px;
	display:none;
	font-size:20px;
}
